.red{
    color:white!important;
    background:red!important;
}
.white{
    background:white!important;
    color:black!important;
}
.yellow {
    color: black !important;
    background: yellow !important;
}
