.red,.white,.yellow,.orange,.green,.brown,.gray{
    font-family: 'Patua One', cursive!important;
}
.red{
    color:white!important;
    background:#E53935!important;
}
.white{
    background:white!important;
    color:black!important;
}
.yellow {
    color: black !important;
    background: #FDD835 !important;
}
.orange{
    background: #F4511E!important; 
}
.green{
    background: #43A047!important; 
}
.brown{
    background: #6D4C41!important; 
}
.gray{
    background: #757575!important; 
    color: white!important;  
}
